body{
    padding: 0;
    margin: 0;
    background-image: url("img/salle.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    
}

.header{
   
    height: 41px;
    
    left: 0px;
    padding: 0;
    margin: 0;
   
}

.Logo{
    position: relative;
    top: -150px;
    left: 800px;
}

.access {
    position: relative;
    top: 6px;
    left: 65px;
    width: 209px;
    height: 29px;
}

.computer {
    position: relative;
    top: -26px;
    left: 24px;
    width: 39px;
    height: 38px;
}

.champ{
    margin: 18px 10px;
    height: 24px;
    line-height: 24px;
    width: auto;
    border-radius: 15px;
    background-color: #666;
    opacity: 0.6;
    color: white;
    font-size: 0.9em;
    position: relative;
    top: -279px;
    left: 1363px;
}

.bouton{
    position: relative;
    top: -126px;
    left: 1600px;
    background-color: gray;
    color: black !important;
    border-color: black !important;
}

.bouton:hover {
    background-color: black !important;
    border-color: black !important;
}


.navi{
    display: flex;
    position: relative;
    left: 558px;
    top: -96px;
    color: #00ff00;
    list-style-type: none;
}

li{
    margin-left: 44px;
}


.article {
    background-color: #222222;
    position: relative;
    height: 1632px;
    width: 1136px;
    top: -58px;
    left: 383px;
    border-radius: 5px;
    opacity: 0.8;
    padding-top: 15px;
    padding-left: 40px;
    margin-left: 0px;
    color: gray;
    padding-right: 40px;
}



.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}



.pagination a:hover:not(.active) 
{
    background-color: #ddd;
}

.form-control{
    height: 31px;
    width: 515px !important;
    position: relative;
    left: 627px;
    top: -65px;
    opacity: 0.75;
}

.btn-outline-success {
    height: 31px;
    width: 117px;
    position: relative;
    left: 622px;
    top: -65px;
    color: black;
    border-color: black;
}

.image{
    height: 37px;
    width: 38px;
    left: -12px;
    top: -3px;
    position: relative;
}

.control {
    position: relative !important;
    left: 292px !important;
    top: -18px !important;
}


.button{
    position: relative;
    top: -55px;
    left: 615px;
    width: 109px;
    height: 36px;
    background-color: gray;
    color: black;
    border-color: black;
}

.button:hover {
    background-color: black;
    border-color: black;
}

.selection{
    position: relative;
    top: 22px;
    left: 62px;
}




.navbar {
    z-index: 3000;
    background-color: #222222;
    position: fixed; 
    top: 0; 
    width: 100%; 
}


.navbar a {
    float: left;

    color: #00ff00;
    text-align: center;
    
    text-decoration: none;
     
    
}

.loupe {
    position: relative;
    left: 1043px;
    top: -62px;
    width: 27px;
    height: 27px;
}

.personne {
    position: relative;
    left: 1065px;
    top: -63px;
    width: 28px;
    height: 28px;
}





table
{
    border-collapse: collapse; 
}
td
{
    border: 1px solid black;
    padding: 5px;
    
}

.titre_film{
color: white;

}

.bobine{
    position: relative;
    width: 41px;
    height: 34px;
    
}

.home {
    position: relative;
    height: 31px;
    width: 30px;
    left: -334px;;
    top: -62px;
}

.membre{
    
  text-transform: capitalize;
    
}

.edite {
    
        position: relative;
        height: 32px;
        width: 110px;
        left: 279px;
        top: -26px;
   
}